<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <!-- Load Active Admin CSS from CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/activeadmin@3.4.0/dist/activeadmin.min.css">
</head>
<body>
  <%= yield %>
</body>
</html>

